<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Todolist</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <div id="app">
        <div class="container">
            <h1>Cose da fare</h1>
            <ul>
                <li v-for="(todo, index) in todos">
                   <span @click="todos[index].done == false ? todos[index].done = true  :  todos[index].done = false " :style="[todos[index].done ? { textDecoration: 'line-through' } : '']">{{todos[index].task}}</span> - <span style="color:red">X</span>
                </li>
            </ul>
            <input type="text" placeholder="Inserisci nuova task" v-model="taskValue">
            <button @click="addTask">Aggiungi</button>
        </div>
    </div>

    <script src="js/script.js" type="text/javascript"></script>
</body>
</html>